In [1]:
## Homework_DP

In [19]:
#Dependencies
import os
import pandas as pd

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [20]:
## Step 2 - Database Engineering
#Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. 
#You will need one table for measurements and one for stations.

#Use Pandas to read your cleaned measurements and stations CSV data.

csvpath = os.path.join('clean_measurements.csv')
clean_measurements = pd.read_csv(csvpath)

csvpath = os.path.join('clean_stations.csv')
clean_stations = pd.read_csv(csvpath)

In [21]:
#Assign a unique identifier to each observation
clean_measurements = clean_measurements.reset_index()
#Rename station column to station_id
clean_measurements = clean_measurements.rename(columns = {'station':'station_id'})
clean_measurements.head()

   index   station_id        date  prcp  tobs
0      0  USC00519397  2010-01-01  0.08    65
1      1  USC00519397  2010-01-02  0.00    63
2      2  USC00519397  2010-01-03  0.00    74
3      3  USC00519397  2010-01-04  0.00    76
4      4  USC00519397  2010-01-07  0.06    70

In [22]:
#Rename stataion to station_id
clean_stations = clean_stations.rename(columns = {'station':'station_id'})
clean_stations.head()

,station_id,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [23]:
# Create Database using the engine and connection string
engine = create_engine("sqlite:///hawaii.db")

In [32]:
# Creates base class for declarative class definitions
Base = declarative_base()

# Create Measurements and Stations Classes
class Measurements(Base):
    __tablename__ = 'clean_measurements'
    index = Column(Integer, primary_key=True) #define primary key
    station_id = Column(String(225))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'clean_stations'
    station_id = Column(String(225), primary_key=True) #define primary key
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [33]:
Stations.__table__.columns

In [34]:
[column.key for column in Stations.__table__.columns]

['station_id', 'name', 'latitude', 'longitude', 'elevation']

In [35]:
# Create the tables in the database using create_all.
# Create a "Metadata" Layer That Abstracts our SQL Database
Base.metadata.create_all(engine)

In [36]:
# Add Records to the hawaii.sqlite DB
clean_stations.to_sql(name='clean_stations', con=engine, if_exists='append',index=False)

OperationalError: (sqlite3.OperationalError) table clean_stations has no column named station_id [SQL: 'INSERT INTO clean_stations (station_id, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?)'] [parameters: (('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9), ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))]

In [38]:
clean_measurements.to_sql(name='clean_measurements', con=engine, if_exists='append',index=False)

OperationalError: (sqlite3.OperationalError) table clean_measurements has no column named index [SQL: 'INSERT INTO clean_measurements ("index", station, date, prcp, tobs) VALUES (?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', '2010-01-01', 0.08, 65), (1, 'USC00519397', '2010-01-02', 0.0, 63), (2, 'USC00519397', '2010-01-03', 0.0, 74), (3, 'USC00519397', '2010-01-04', 0.0, 76), (4, 'USC00519397', '2010-01-07', 0.06, 70), (5, 'USC00519397', '2010-01-08', 0.0, 64), (6, 'USC00519397', '2010-01-09', 0.0, 68), (7, 'USC00519397', '2010-01-10', 0.0, 73)  ... displaying 10 of 18103 total bound parameter sets ...  (18101, 'USC00516128', '2017-08-22', 0.5, 76), (18102, 'USC00516128', '2017-08-23', 0.45, 76))]

In [37]:
engine.table_names()

['clean_measurements', 'clean_stations']